h3 {
    min-height: 56px;
}

.form-group {
    min-height: 100px;
}

@media (min-width: 400px) {
    .form-group {
        .row {
            height: 40px;
        }
    }
}

@include media-breakpoint-up(sm) {
    h3 {
        min-height: 60px;
    }

    .form-group {
        .row {
            height: 50px;
        }
    }
}