// @import "~bootstrap/scss/bootstrap";
@import "custom";
@import'Header';

* {
    font-family: $font-stack;
}

.prompt {
    p {
        margin: 0;
    }
}

h3 {
    min-height: 55px;
}

.responseCard {
    border: 1px $secondary solid;
    border-radius: .5rem;
}

.form-group {
    min-height: 100px;
}